Package: {{ pkg }}
Source: audiobible
Version: {{ version }}
Architecture: all
Maintainer: {{ maintainer }}
Installed-Size: {{ size_kb }}
Section: sound
Priority: optional
{% if depends %}Depends: {{ depends|join(",\n ") }}
{% endif %}Description: {{ description }}
