Package: {{ pkg }}
Source: audiobible
Version: {{ version }}
Architecture: all
Maintainer: {{ maintainer }}
Section: sound
Priority: optional
Depends: {{ depends|join(",\n ") }}
Description: {{ description }}
